<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Joined date:</strong>
  <%= @employee.joined_at %>
</p>

<p>
  <strong>Location:</strong>
  <%= @employee.location_id %>
</p>

<hr>

<h2>Using Budget</h2>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th>Used</th>
    <th>Remaining</th>
  </tr>
  </thead>
  <tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.balance %></td>
      <td>10</td>
      <td>20</td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>

<h2>Available Budget</h2>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.balance %></td>
      <td>
        <%= form_tag budget_employee_path, method: :post do %>
          <%= hidden_field_tag 'budget', account.id %>
          <%= submit_tag nil, class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>

<h2>Transaction</h2>

<p><i class="far fa-plus-square"></i> Add</p>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.balance %></td>
      <td>
        <%= form_tag budget_employee_path, method: :post do %>
          <%= hidden_field_tag 'budget', account.id %>
          <%= submit_tag nil, class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
